<footer class="page__footer">
  <a href="#start" class="whitecircle2"><img class="arrowdown" title="arrow up" src="./assets/images/ico-arrow.svg"
      alt="symbol scroll up" />
  </a>

  <div class="contentfooter">
    <nav class="fl1">
      <ul>
        <li><a href="https://adalab.es/">articles</a></li>
        <li><a href="https://adalab.es/">books</a></li>
        <li><a href="https://adalab.es/">events</a></li>
        <li><a href="https://adalab.es/">reasons</a></li>
        <li><a href="https://adalab.es/">tips</a></li>
      </ul>
    </nav>
    <nav class="fl2">
      <ul>
        <li><a href="https://adalab.es/">twitter</a></li>
        <li><a href="https://adalab.es/">instagram</a></li>
        <li><a href="https://adalab.es/">mastodon.social</a></li>
      </ul>
    </nav>

    <small class="copyright">
      <p>&copy 2021</p>
      <p>we <i class="fas fa-heart"></i> love components</p>
    </small>
  </div>
</footer>