<footer>
  <img title="arrow up" src="./assets/images/ico-arrow.svg" alt="arrow pointing up" />
  <small>
    <p>&copy 2021</p>
    <p>we love components</p>
  </small>
  <nav>
    <ul>
      <li><a href="https://adalab.es/">articles</a></li>
      <li><a href="https://adalab.es/">books</a></li>
      <li><a href="https://adalab.es/">events</a></li>
      <li><a href="https://adalab.es/">reasons</a></li>
      <li><a href="https://adalab.es/">tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><a href="https://adalab.es/">twitter</a></li>
      <li><a href="https://adalab.es/">instagram</a></li>
      <li><a href="https://adalab.es/">mastodon social</a></li>
    </ul>
  </nav>
</footer>