<header class="page__header">
  <div class="bluesquare"><img class="burger" title="hamburguer menu" src="./assets/images/ico-menu.svg"
      alt="hamburguer menu" /></div>
  <!-- <img title="big city" src="./assets/images/cover.jpg" alt="image of skyscrappers int he dusk" /> -->

  <a href="#threereasons" class="whitecircle"><img class="arrowdown" title="arrow down"
      src="./assets/images/ico-scroll-down.svg" alt="symbol scroll down" />
  </a>

  <h1 class="h1">anonymous proxy</h1>
  <p class="headersubtitle">In hac habitasse pleatea dictumst</p>
</header>