<section class="threereasons" id="threereasons">
    <h3 class="titlethree">3 reasons to purchase</h3>


    <div class="gridreasons">
        <include src="./reasons-item.html" class="reasona" title="Ut sed metus"
            text="Lorem ipsum, dolor sit amet consectetur.">
        </include>
        <include src="./reasons-item.html" class="reasonb" title="Curabitur ac erat"
            text="Mauris mattis uma quis lorem molestiae.">
        </include>
        <include src="./reasons-item.html" class="reasonc" title="Morbi dictum"
            text="Aliquam in dolor et dolor tincidunt.">
        </include>
        <button class="morereasons">More reasons</button>

    </div>



</section>