<section class="sectiontop">
    <small class="sectiontopsmall">insomnia tips</small>
    <h2 class="sectiontoptitle">looking through a window</h2>
    <p class="sectiontoptext"> Este texto no es definitivo. Tan solo se está utilizando para practicar.
        Este texto no es definitivo. Tan solo se está utilizando para practicar.
        Este texto no es definitivo. Tan solo se está utilizando para practicar.
        Este texto no es definitivo. Tan solo se está utilizando para practicar.



    </p>
    <button class="go">go</button>
</section>