<section id="threereasons">
    <h3>3 reasons to purchase</h3>

    <include src="./reasons-item.html" title="Ut sed metus" text="Lorem ipsum, dolor sit amet consectetur.">
    </include>
    <include src="./reasons-item.html" title="Curabitur ac erat" text="Mauris mattis uma quis lorem molestiae..">
    </include>
    <include src="./reasons-item.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt.">
    </include>
    <button>more reasons</button>
    <img class="arrowup" title="arrow up" src="./assets/images/ico-arrow.svg" alt="symbol scroll up" />
    </div>
</section>