<section class="sectiontop">
    <small class="sectiontopsmall">insomnia tips</small>
    <h2 class="sectiontoptitle">looking through a window</h2>
    <p class="sectiontoptext"> This text is not definitive. It just serves for the purpose of practicing with
        branches.This text is not definitive. It just serves for the purpose of practicing with branches. This text is
        not definitive. It just serves for the purpose of practicing with branches. This text is not definitive. It just
        serves for the purpose of practicing with branches. This text is not definitive. It just serves for the purpose
        of practicing with branches.


    </p>
    <button class="go">go</button>
</section>