.whitecircle2 {
  background-color: $color-white;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  transform: translateY(-20px);
}
a {
  text-decoration: none;
}

.fa-heart {
  color: $color_orange;
}

.page__footer {
  background-color: #304268;
  color: $color_white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.contentfooter {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    padding: 0px 39px 45px 39px;
  }
}

.fl1 {
  margin: 60px 123px 30px 124px;

  @media (min-width: 768px) {
    margin: 0px 0px 0px 0px;
    text-align: left;
    width: 100%;
    order: 2;
  }
}
.fl2 {
  margin: 0px 86px 0px 87px;
  @media (min-width: 768px) {
    width: 100%;
    text-align: left;
    margin: 0px 0px 0px 0px;
    order: 3;
  }
}

.copyright {
  font-size: 14px;
  margin-top: 30px;
  line-height: 30px;
  text-transform: none;
  @media (min-width: 768px) {
    text-align: left;

    margin-top: 0px;
    width: 100%;
    order: 1;
  }
}
