.page__footer {
  background-color: #304268;
  color: $color_white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.footerlinks {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  &__fl1 {
    margin: 60px 123px 30px 124px;
  }
  &__fl2 {
    margin: 0px 86px 0px 87px;
  }
}
a {
  text-decoration: none;
}

.fa-heart {
  color: $color_orange;
}

.copyright {
  font-size: 14px;
  margin-top: 30px;
  line-height: 30px;
}
