.offersection {
  background-color: $color-orange;
  width: 100vh;
  @media (max-width: 768px) {
    display: none;
  }
}

.offertitle {
  text-align: center;
  margin-bottom: 10px;
}
.containeroffer {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
