.threereasons {
  font-family: "Roboto Slab", serif;
  background-color: #eff9ff;
}
.titlethree {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  padding-top: 60px;
  margin-bottom: 45px;
  text-transform: capitalize;
  @media (min-width: 1200px) {
    font-size: 32px;
    line-height: 45px;
  }
}

.gridreasons {
  font-size: 18px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.reason {
  text-align: center;
  width: 50%;
  grid-column: 2/4;
  margin-bottom: 45px;

  font-size: 24px;
  @media (min-width: 768px) {
    grid-column: 1/4;
    width: 100%;
  }
}
.reasona {
  @media (min-width: 768px) {
    grid-column: 1/2;
    padding-left: 35.7px;
  }
  @media (min-width: 1200px) {
    padding-left: 81.2px;
  }
}
.reasonb {
  @media (min-width: 768px) {
    grid-column: 2/3;
    padding-left: 27.7px;
  }
  @media (min-width: 1200px) {
    padding-left: 26.2px;
  }
}
.reasonc {
  @media (min-width: 768px) {
    grid-column: 3/4;
    padding-left: 27.7px;
    padding-right: 40px;
  }
  @media (min-width: 1200px) {
    padding-left: 26.2px;
    padding-right: 85px;
  }
}
.reasonstext {
  font-family: "Roboto", serif;
  font-weight: normal;

  font-size: 20px;
  margin-top: 14px;
}

.morereasons {
  grid-column: 2/3;
  border-radius: 22.5px;
  background-color: $color-orange;
  color: $color-white;
  border: none;
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 60px;
  padding-left: 5px;
  padding-right: 5px;
  transition: background-color 2s linear;
  &:hover {
    background-color: #304268;
  }
  @media (min-width: 768px) {
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 1200px) {
    margin-left: 100px;
    margin-right: 100px;
  }
}
